/*main*/
#main_wrap {
    width: 100%;
    background-image: url(../img/main_bot_bg.png);
    background-position: right bottom;
    background-size: 60%;
    background-repeat: no-repeat;
}

#sec1 {
    width: 100%;
    height: 100vh;
    background: url(../img/mv1.png);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 50px;
    box-sizing: border-box;
}

article {
    width: 1500px;
    margin: auto;
}

#sec1>article {
    padding: 12% 0;
}

#sec1>article>h2 {
    font-size: 79px;
    font-weight: bolder;
    line-height: 92px;
    color: #ffa4c0;
}

#sec1>article>p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    color: #ffa4c0;
}

.join_info {
    margin-top: 84px;
}

.p_arrow {
    display: block;
    float: left;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #ffa4c0;
    background-image: url(../img/btn_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19px;
    margin-right: 15px;
}

.join_info>a>span {
    color: #ffa4c0;
    line-height: 47px;
}

#sec2 {
    position: relative;
    padding-top: 200px;
}

#sec2>.mv_c {
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: -1;
}

#sec2>.txt_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

#sec2>.txt_box>h2 {
    font-size: 46px;
    font-weight: bolder;
    line-height: 64px;
    color: #4d4d4d;
    padding-right: 50px;
    flex: 1;
}

#sec2>.txt_box>p {
    font-size: 16px;
    line-height: 31px;
    color: #999;
    margin-top: 11px;
    flex: 1;
}

.link_list>ul {
    width: 1560px;
    margin-left: -60px;
    display: flex;
}

.link_list>ul>li {
    width: 25%;
    padding-left: 60px;
}

.link_list>ul>li>a {
    display: block;
    height: 286px;
    position: relative;
    padding: 45px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.link_list>ul>li>a:hover {
    border-radius: 0 0 80px 0;
}

.link_list>ul>li>a:hover .pill::before {
    transform: rotate(25deg);
    margin-right: 3px;
}

.link_list>ul>li>a:hover .pill::after {
    transform: rotate(-25deg);
}

.link_list>ul>li:nth-child(1)>a {
    background-color: #cec0eb;
}

.link_list>ul>li:nth-child(1)>a:hover {
    background-color: #aa8ce8;
}

.link_list>ul>li:nth-child(2)>a {
    background-color: #ebb5cf;
}

.link_list>ul>li:nth-child(2)>a:hover {
    background-color: #ef67a9;
}

.link_list>ul>li:nth-child(3)>a {
    background-color: #f6dda8;
}

.link_list>ul>li:nth-child(3)>a:hover {
    background-color: #f2cb78;
}

.link_list>ul>li:nth-child(4)>a {
    background-color: #c5e1f2;
}

.link_list>ul>li:nth-child(4)>a:hover {
    background-color: #7fc2eb;
}

.link_list>ul>li>a>h3 {
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    font-weight: bold;
    padding-top: 24px;
    position: relative;
}

.link_list>ul>li>a>img {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 37px;
}

.pill {
    position: absolute;
}

.pill::before {
    content: "";
    display: block;
    float: left;
    margin-right: 1px;
    width: 15px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    transition: all .2s ease-in-out;
}

.pill::after {
    float: left;
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    transition: all .2s ease-in-out;
}

#sec3 {
    position: relative;
    padding-top: 297px;
    padding-bottom: 240px;
}

.mv_h {
    width: 662px;
    height: 662px;
    border-radius: 50%;
    background-image: linear-gradient(28deg, #cec0eb 12%, #f7c2c8 87%, #000 87%);
    position: absolute;
    right: -150px;
    top: 150px;
    z-index: -1;
}

.mv_h>h3 {
    line-height: 662px;
    font-weight: bold;
    font-size: 70px;
    color: rgba(255, 255, 255, .6);
    padding-left: 100px;
}

#sec3 h2 {
    font-size: 60px;
    line-height: 89px;
    color: #d2d5dd;
    margin-bottom: 60px;
    font-weight: 900;
}

.mc4_wrap {
    width: 1584px;
    display: flex;
    margin-left: -42px;
}

.mc4_wrap>li {
    width: 25%;
    padding: 0 42px;
    box-sizing: border-box;
}

.mc4_wrap>li img {
    width: 100%;
}

figcaption {
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    margin-top: 20px;
    font-weight: 500;
}

figcaption::before {
    content: "";
    display: block;
    float: left;
    width: 25px;
    height: 2px;
    background-color: #646464;
    margin: 10px 13px 10px 0;
}

#sec4 {
    background-image: url(../img/main_bot.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    padding: 150px 0;
}

#sec4 h2 {
    font-size: 70px;
    line-height: 99px;
    color: #d2d5dd;
    font-weight: bold;
    margin-bottom: 55px;
}

#sec4 h2>a>img {
    width: 30px;
}

#sec4 dl {
    width: 40%;
}

#sec4 dt>a {
    display: block;
    font-size: 22px;
    line-height: 33px;
    color: #444;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sec4 dd {
    font-size: 13px;
    line-height: 22px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 30px;
}

#sec5 {
    padding: 170px 0 180px;
}

#sec5 ul {
    width: 1530px;
    margin-left: -15px;
    display: flex;
}

#sec5 ul>li {
    width: 33.3%;
    padding: 0 15px;
    box-sizing: border-box;
}

#sec5 ul>li>a {
    width: 100%;
    height: 315px;
    display: block;
    padding: 60px 40px;
    box-sizing: border-box;
    position: relative;
}

#sec5 ul>.prov>a {
    background-image: linear-gradient(304deg, #ffd5b5, #f6dda8 60%, #f6dda8);
}

#sec5 ul>.kims>a {
    background-image: linear-gradient(304deg, #d2eeff 25%, #c8e9ff 35%, #cec0eb);
}

#sec5 ul>.safe>a {
    background-image: linear-gradient(124deg, #ffacc6, #f6beb8 39%, #ffe6b2);
}

#sec5 .text {
    width: 43%;
    color: #fff;
}

#sec5 .text>h4 {
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
}

#sec5 .text>p {
    width: 75%;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    margin-top: 35px;
}

#sec5 .arrow {
    position: absolute;
    right: 25px;
    top: 25px;
}

#sec5 .arrow>img {
    width: 26px;
}

#sec5 .icon_box {
    position: absolute;
    right: 18px;
    bottom: 18px;
    width: 50%;
}

#sec5 .icon_box>img {
    width: 100%;
}

#sec5 .safe .icon_box {
    width: 46%;
    text-align: right;
}

#sec5 .safe .icon_box>img {
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 1500px) {
    article {
        width: 100%;
    }

    .link_list>ul {
        width: calc(100% + 60px);
    }

    .mc4_wrap {
        width: 100%;
    }

    #sec5 ul {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    #sec1>article>h2 {
        font-size: 60px;
        line-height: 70px;
    }

    .link_list>ul>li>a {
        padding: 30px 20px;
    }

    .mv_h {
        width: 50vw;
        height: 50vw;
        right: -15vw;
        top: 12vw;
    }

    .join_info {
        margin-top: 42px;
    }

    #sec3 {
        padding-bottom: 140px;
    }
}

@media only screen and (max-width: 900px) {
    #sec5 ul {
        flex-wrap: wrap;
    }

    #sec5 ul>li {
        width: 100%;
        margin-bottom: 20px;
    }

    #sec5 ul>li>a {
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 767px) {
    #sec1 {
        height: 100%;
    }

    #sec2 {
        padding-top: 80px;
    }

    #sec2>.txt_box>h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #sec2>.txt_box>p {
        font-size: 13px;
        line-height: 22px;
        margin-top: 15px;
    }

    #sec2>.mv_c {
        left: auto;
        right: -100px;
        top: 0;
    }

    #sec2>.txt_box {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link_list {
        padding: 0 60px;
        width: 90%;
    }

    .link_list>ul {
        flex-wrap: wrap;
    }

    .link_list>ul>li {
        width: 50%;
        padding: 7px;
        margin: 0;
        box-sizing: border-box;
    }

    .link_list>ul>li>a {
        height: 200px;
    }

    .mv_h {
        top: 15vw;
    }

    .mv_h>h3 {
        font-size: 28px;
        line-height: 170px;
        padding-left: 20px;
    }

    #sec3 {
        padding-bottom: 80px;
    }

    #sec3 h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
        position: relative;
        z-index: 90;
    }

    #sec3>article {
        padding: 0 45px;
    }

    #sec5>article {
        padding: 0 0 0 15px;
    }

    .mc4_wrap {
        flex-wrap: wrap;
    }

    .mc4_wrap>li {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    #sec4 {
        padding: 0;
    }

    #sec5 {
        padding: 80px 0;
    }
}